@model List<UnapprovedCommentModel>

<table class="table">
    <tr>
        <th>Time</th>
        <th>Commenter</th>
        <th>Comment</th>
        <th>Post</th>
        <th>Approve</th>
    </tr>
    @foreach (var comment in Model)
    {
        <tr>
            <td>@comment.Comment.DateCreated</td>
            <td>@comment.Comment.Author</td>
            <td>
            @if (comment.Comment.Content.Length > 50)
            {
                @comment.Comment.Content.Substring(0, 50)@:...

            } else
            {
                @comment.Comment.Content
            }
            </td>
            <td>@comment.Post.Title</td>
            <td>
                <div class="checkbox">
                    <input asp-for="@comment.Approved" id="@comment.Comment.Id" name="@comment.Comment.Id"/>
                </div>
            </td>
        </tr>
    }  

</table>
