@{
    // ViewBag.Title = "Home Page";
}
@model BlogViewModel
<div class="container-fluid">
    @foreach (var post in Model.RecentPosts)
    {
        <div class="row panel panel-default">
            <div class="col-md-3 panel-body">
                <h3><a asp-action="EditPost" asp-controller="Admin" asp-route-id="@post.Id">@post.Title</a></h3>
                <h4>@post.DatePublished</h4>
                <p>
                    @Html.Raw(string.Join(", ", post.Tags.Select(s => Html.ActionLink(s, "Tagged", "Blog", new { tag = s }, new object { }))))
                </p>
                <p>
                    @{
                        var numberOfComments = post.Comments != null ? post.Comments.Length : 0;
                    }
                    <a asp-route-id="@post.Id" asp-route="blogComment">Comments (@numberOfComments)</a>
                </p>
            </div>
            <div class="col-md-8 panel-body">
                @Html.Raw(post.RenderContent())
            </div>
        </div>
    }
</div>