@model BlogViewModel
@{
     ViewBag.Title = "Seth Test";
}

        @if (Model.RecentPosts == null || Model.RecentPosts.Count == 0)
        {
            <h2>Sorry, nothing to display!</h2>
            @if (User.Identity.IsAuthenticated)
            {
                <p>Why don't you <a asp-controller="Admin" asp-action="WritePost">write a post</a>?</p>
            }
            else
            {
                <p>Why don't you <a asp-controller="Account" asp-action="RegisterFirstTime">register</a>?</p>
            }

        }
        else
        {
            <div class="container-fluid">
                @foreach (var post in Model.RecentPosts)
                {
                    <div class="row panel panel-default">
                        <div class="col-md-3 panel-body">
                            <h3><a asp-route="findPostById" asp-route-id="@post.Id">@post.Title</a></h3>
                            <h4>@post.User.GetFullName() on @post.DatePublished</h4>
                            <p>
                                @Html.Raw(string.Join(", ", post.Tags.Select(s => Html.ActionLink(s, "Tagged", "Blog", new { tag = s }, new object { }))))
                            </p>
                            <p>
                                @{ 
                                    var numberOfComments = post.Comments != null ? post.Comments.Length : 0;
                                }
                                <a asp-route-id="@post.Id" asp-route="blogComment">Comments (@numberOfComments)</a>
                            </p>
                        </div>
                        <div class="col-md-8 panel-body post-body">
                            @Html.Raw(post.RenderContent())
                        </div>
                    </div>
                }
            </div>
        }

