@model Post

<div class="row panel panel-default">
    <div class="col-md-3 panel-body">
        <h3><a asp-action="ViewPost" asp-controller="Blog" asp-route-id="@Model.Id">@Model.Title</a></h3>
        <h4>@Model.User.GetFullName() on @Model.DatePublished</h4>
        <p>
            @Html.Raw(string.Join(", ", Model.Tags.Select(s => Html.ActionLink(s, "Tagged", "Blog", new { tag = s }, new object { }))))
        </p>
        <p>
            @{
                var numberOfComments = Model.Comments != null ? Model.Comments.Count : 0;
            }
            <a href="#comments">Comments (@numberOfComments)</a>
        </p>
    </div>
    <div class="col-md-8 panel-body post-body">
        @Html.Raw(Model.RenderContent())
    </div>

</div>
<div id="comments" class="row panel panel-default" style="padding-right:20px;padding-top:20px">
    <div class="col-md-2">
        <h3>comments</h3>
    </div>
    @{ 
        if (Model.Comments != null)
        {
            var i = 0;
            foreach (var comment in Model.Comments)
            {
                if (i > 0)
                {
                    <div class="col-md-2"></div>
                }
                await Html.RenderPartialAsync("_CommentPartial", comment);
                i++;
            }
            <div class="col-md-2"></div>
            await Html.RenderPartialAsync("_LeaveCommentPartial", new Comment { PostId = Model.Id });
        }
        else
        {
            await Html.RenderPartialAsync("_LeaveCommentPartial", new Comment { PostId = Model.Id });
        }
    }
</div>